.composition {
	position: relative;
	&__photo {
		width: 55%;
		box-shadow: 0 1rem 4rem rgba($color-black, 0.2);
		border-radius: 0.2rem;
		position: absolute;
		z-index: 10; /*to go over each other*/
		outline-offset: 1rem; /* this is give space between outline of image*/

		&--p1 {
			left: 0;
			top: -2rem;
		}

		&--p2 {
			right: 0;
			top: 2rem;
		}
		&--p3 {
			left: 20%;
			top: 10rem;
		}
		&:hover {
			transform: scale(1.1) translateY(-5rem);
			box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
			z-index: 20;
			outline: 0.5rem solid $color-primary; /*give outline to image*/
		}
	}
	&:hover &__photo:not(:hover) {
		transform: scale(0.95);
	}


}