*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* For Good css practice box-sizing: inheriting to other part of body; */
  box-sizing: inherit;
}
html {
  /* font-size: 10px; */
  /* Converted px to % so on browser if user do zoom in or zoom out they can have same effect */
  font-size: 62.5%;
}

body {
  font-family: 'Josefin' sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to right, rgba(237, 228, 110, 0.8), rgba(166, 55, 170, 0.8)), url(../img/back.jpg);
  height: 95vh;
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position:absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.primary-heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1rem;
}

.primary-heading-main {
  display: block;
  font-size: 4rem;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s;
  animation-iteration-count: 2; */
}
.primary-heading-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.4rem;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 6rem;
  border-radius: 2rem;
  display: inline-block;
  transition: all 2ms;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

